lerna-debug.log
node_modules
npm-debug.log
.DS_Store
coverage
.nyc_output
api-docs
**/*.tgz
packages/*/dist
examples/*/dist
experimental/*/dist
benchmark/dist
**/package
.sandbox
packages/cli/generators/datasource/connectors.json
docs/site/readmes

# Exclude all files under sandbox except README.md and example
/sandbox/*
!/sandbox/README.md
!/sandbox/example/
