{
    "include": [
      "packages/*/dist*/",
      "packages/cli/",
      "examples/*/dist*/"
    ],
    "exclude": [
      "packages/*/dist*/test/",
      "packages/cli/test/",
      "examples/*/dist*/test/",
      "**/.sandbox/"
    ],
    "extension": [
      ".js",
      ".ts"
    ],
    "reporter": [
      "html"
    ]
  }

