.github/
/coverage
/docs/apidocs
/docs/site/apidocs
/docs/_loopback.io/
/docs/_preview/
packages/cli/generators/*/templates
packages/cli/snapshots/
fixtures/tsdocs-monorepo/docs
fixtures/tsdocs-monorepo/**/dist
fixtures/tsdocs-monorepo/**/docs
**/.sandbox
acceptance/*/dist
fixtures/*/dist
packages/*/dist
extensions/*/dist
examples/*/dist
benchmark/dist
sandbox/**/*
*.json
CHANGELOG.md
*.yml
