/coverage
**/*/api-docs
/docs/apidocs
/docs/site/apidocs
packages/cli/generators/*/templates
packages/tsdocs/fixtures/monorepo/docs
packages/tsdocs/fixtures/monorepo/**/dist
**/.sandbox
packages/*/dist
examples/*/dist
benchmark/dist
sandbox/**/*
*.json
CHANGELOG.md
*.yml
