sudo: false
language: node_js
node_js:
  - "8"
  - "10"
  - "12"
  - "13"

os:
  - linux

script:
  - npm run postinstall
  - npm run build
  - npm run test:ci

env: TASK=test
install: npm ci --ignore-scripts

after_success:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]] && [[ $(echo $TRAVIS_NODE_VERSION | cut -d'.' -f1) == "10" ]]; then npm run coverage:ci; fi

matrix:
  include:
    - node_js: "12"
      os: osx
      # using the default script to build & run the tests

    - node_js: "8"
      os: linux
      env: TASK=code-lint
      # Running Code Linter -- Requires @loopback/build so it's bootstrapped
      script:
        - lerna bootstrap --scope @loopback/build --include-dependencies
        - npm run lint
    - node_js: "8"
      os: linux
      env: TASK=commit-lint
      script: commitlint-travis
    - node_js: "8"
      os: linux
      env: TASK=verify-docs
      script: ./bin/verify-doc-changes.sh
    - node_js: "10"
      os: linux
      env:
        - TASK=test-repository-mongodb
      services:
        - mongodb
      script:
        - npm run postinstall -- --scope "@loopback/test-repository-mongodb" --include-dependencies
        - npm run build -- --scope "@loopback/test-repository-mongodb" --include-dependencies
        - cd acceptance/repository-mongodb && npm run mocha
    - node_js: "10"
      os: linux
      env:
        - TASK=test-repository-mysql
        - MYSQL_USER=test
        - MYSQL_PASSWORD=test
      services:
        - mysql
      before_install:
        - mysql -u root -e "CREATE USER 'test'@'localhost' IDENTIFIED BY 'test';"
        - mysql -e "use mysql; update user set authentication_string=PASSWORD('test') where User='test'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
        - mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION;FLUSH PRIVILEGES;"
        - mysql -e "GRANT SUPER ON *.* TO 'test'@'localhost' IDENTIFIED BY 'test';FLUSH PRIVILEGES;"
      script:
        - npm run postinstall -- --scope "@loopback/test-repository-mysql" --include-dependencies
        - npm run build -- --scope "@loopback/test-repository-mysql" --include-dependencies
        - cd acceptance/repository-mysql && npm run mocha
    - node_js: "10"
      os: linux
      env:
        - TASK=test-repository-postgresql
        - POSTGRESQL_USER=postgres
      services:
        - postgresql
      script:
        - npm run postinstall -- --scope "@loopback/test-repository-postgresql" --include-dependencies
        - npm run build -- --scope "@loopback/test-repository-postgresql" --include-dependencies
        - psql -U postgres -a -f acceptance/repository-postgresql/test/schema.sql
        - cd acceptance/repository-postgresql && npm run mocha

branches:
  only:
    - master
