environment:
  matrix:
    - nodejs_version: "6"
    - nodejs_version: "8"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm cache clean
  - npm run bootstrap -- --force

test_script:
  - node --version
  - npm --version
  - npm test

build: off
skip_branch_with_pr: true
