# The list in this file serves two purposes:
# 1. It keeps track of Functional Area Owners, allowing all participants
#    to find which people to ping depending on the functional area involved.
# 2. It tells GitHub which maintainers to automatically assign for code reviews
#    of incoming pull requests.
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/
#
# IMPORTANT:
# Because the last matching pattern takes the most precedence, we need to list
# the functional areas from most generic (e.g. Models & Repositories) to most
# narrow (e.g. MongoDB).
###############################################################################

# Functional areas covered by external repositories only:
#
# loopback4-example-shopping
# - Primary owner(s): @hacksparrow
# - Standby owner(s): @jannyHou
#
# Connector core
# - Primary owner(s): n/a
# - Standby owner(s): @jannyHou
# - Repositories
#   - loopback-connector
#   - memory & kv-memory connectors in juggler
#
# OpenAPI connector
# - Primary owner(s): n/a
# - Standby owner(s): n/a
# - Repositories:
#   - loopback-connector-openapi
#
# JSON-RPC connector:
# - Primary owner(s): n/a
# - Standby owner(s): n/a
# - Repositories:
#   - loopback-connector-jsonrpc
#
# SOAP connector
# - Primary owner(s): @deepakrkris
# - Standby owner(s): @raymondfeng
# - Repositories:
#   - loopback-connector-soap
#   - strong-soap
#
# Cassandra
# - Primary owner(s): @deepakrkris
# - Standby owners(s): n/a
# - Repositories:
#   - loopback-connector-cassandra
#
# IBM Databases
# - Primary owner(s): @emonddr
# - Secondary owner(s): @jannyHou
# - Repositories:
#   - loopback-connector-db2
#   - loopback-connector-dashdb
#   - loopback-connector-db2iseries
#   - loopback-connector-informix
#   - loopback-connector-mqlight
#   - loopback-connector-ibmi
#   - loopback-connector-db2z
#   - loopback-connector-zosconnectee
#
# Microsoft SQL
# - Issue label: db:MSSQL
# - Primary owner(s): @jannyHou
# - Standby owner(s): @agnes512
# - Repositories:
#   - loopback-connector-mssql
#
# Oracle
# - Issue label: db:Oracle
# - Primary owner(s): @emonddr
# - Standby owner(s): n/a
# - Repositories:
#   - loopback-connector-oracle

# Fall-back entry for files not assigned to any Functional Areas
* @bajtos @raymondfeng

# To keep things simple, we assign documentation to all core team members
# For longer term, we may want to re-organize doc files around functional
# areas (create a new subdirectory for each functional area), so that
# we can assign more specific code owners to different doc pages.
/docs @agnes512 @bajtos @deepakrkris @emonddr @jannyHou @hacksparrow @nabdelgadir @raymondfeng

#
# CLI (`lb4` infrastructure, commands not covered by functional areas below)
#
# - Issue label: CLI
# - Primary owner(s): @agnes512
# - Standby owner(s): @emonddr @nabdelgadir
/packages/cli @agnes512 @emonddr @nabdelgadir

#
# Dependency Injection, Inversion of Control and related areas
#
# - Issue label: IoC/Context
# - Primary owner(s): @raymondfeng
# - Standby owner(s): @deepakrkris @emonddr @jannyHou
/packages/metadata @raymondfeng @deepakrkris @emonddr @jannyHou
/packages/context @raymondfeng @deepakrkris @emonddr @jannyHou
/examples/context @raymondfeng @deepakrkris @emonddr @jannyHou
/packages/cli/generators/interceptor @raymondfeng @deepakrkris @emonddr @jannyHou

#
# Framework core
#
# - Issue label: Core
# - Primary owner(s): @raymondfeng @deepakrkris
# - Standby owner(s): n/a
/packages/core @deepakrkris @raymondfeng
/examples/rpc-server @deepakrkris @raymondfeng
/packages/cli/generators/observer @deepakrkris @raymondfeng

#
# Infrastructure for extensions
#
# - Issue label: Extensions
# - Primary owner(s): @raymondfeng @jannyHou
# - Standby owner(s): @emonddr
/packages/core/src/component.ts @emonddr @jannyHou @raymondfeng
/examples/greeting-app @emonddr @jannyHou @raymondfeng
/examples/log-extension @emonddr @jannyHou @raymondfeng
/examples/greeter-extension @emonddr @jannyHou @raymondfeng
/docs/site/tutorials/core @emonddr @jannyHou @raymondfeng

#
# REST API (server-side)
#
# - Issue label: REST
# - Primary owner(s): @hacksparrow
# - Standby owner(s): @deepakrkris @emonddr
/packages/rest @deepakrkris @emonddr @hacksparrow
/packages/http-server @deepakrkris @emonddr @hacksparrow
/packages/cli/generators/controller @deepakrkris @emonddr @hacksparrow
/examples/hello-world @deepakrkris @emonddr @hacksparrow
/examples/express-composition @deepakrkris @emonddr @hacksparrow
/examples/file-upload @deepakrkris @emonddr @hacksparrow @raymondfeng

#
# OpenAPI (server-side)
#
# - Issue label: OpenAPI
# - Primary owner(s): @jannyHou
# - Standby owner(s): @deepakrkris @emonddr
/packages/openapi-spec-builder @deepakrkris @emonddr @jannyHou
/packages/openapi-v3 @deepakrkris @emonddr @jannyHou
/packages/rest/src/router/openapi-path.ts @deepakrkris @emonddr @jannyHou
/packages/rest/src/__tests__/unit/router/rebase-openapi-spec.unit.ts @deepakrkris @emonddr @jannyHou
/packages/rest/src/__tests__/unit/rest.server/rest.server.open-api-spec.unit.ts @deepakrkris @emonddr @jannyHou

# REST API Explorer
#
# - Issue label: API Explorer
# - Primary owner(s): @hacksparrow
# - Standby owner(s): n/a
/packages/rest-explorer @hacksparrow

#
# Models & Repository
#
# - Issue label: Repository
# - Primary owner(s): @agnes512
# - Standby owner(s): @hacksparrow
# Includes the following repos: loopback-datasource-juggler
/packages/repository @agnes512 @hacksparrow
/packages/repository-json-schema @agnes512 @hacksparrow
/packages/repository-tests @agnes512 @hacksparrow
/packages/cli/generators/repository @agnes512 @hacksparrow
/packages/cli/generators/datasource @agnes512 @hacksparrow
/packages/cli/generators/discover @agnes512 @hacksparrow
/packages/cli/generators/model @agnes512 @hacksparrow

#
# Model relations & repositories
#
# - Issue label: Relations
# - Primary owner(s): @agnes512
# - Standby owner(s): @hacksparrow
/packages/repository/src/relations @agnes512 @hacksparrow
/packages/repository-tests/src/crud/relations @agnes512 @hacksparrow
/packages/repository/src/__tests__/acceptance/has-many-without-di.relation.acceptance.ts @agnes512 @hacksparrow
/packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts @agnes512 @hacksparrow
/packages/cli/generators/relation @agnes512 @hacksparrow
/examples/todo-list @agnes512 @hacksparrow
/docs/site/tutorials/todo-list/ @agnes512 @hacksparrow

#
# Services (infrastructure for SOAP/REST clients)
#
# - Issue label: Service Proxy
# - Primary owner(s): @raymondfeng
# - Standby owner(s): n/a
# Includes the following repos: loopback-connector-rest
/packages/service-proxy @raymondfeng
/packages/cli/generators/service @raymondfeng
# The SOAP Calculator examples is a bit special, we want to preserve
# Mario as the code owner of this specific subarea only
/examples/soap-calculator @raymondfeng @marioestradarosa
/docs/site/tutorials/soap-calculator @raymondfeng @marioestradarosa

#
# `lb4 openapi` (scaffold an LB4 app from the given OpenAPI spec)
#
# - Issue label: n/a
# - Primary owner(s): @raymondfeng
# - Standby owner(s): @jannyHou
/packages/cli/generators/openapi @jannyHou @raymondfeng

#
# LB4 project conventions
#
# - Issue label: n/a
# - Primary owner(s): @nabdelgadir
# - Standby owner(s): n/a
/packages/cli/generators/project @nabdelgadir
/packages/cli/generators/app @nabdelgadir
/packages/cli/generators/extension @nabdelgadir
/examples/todo @nabdelgadir
/docs/site/tutorials/todo @nabdelgadir

#
# Bootstrapper (core)
#
# - Issue label: Boot
# - Primary owner(s): @jannyHou
# - Standby owner(s): n/a
/packages/boot @jannyHou

#
# Migration from LB3
#
# - Issue label: Migration
# - Primary owner(s): @deepakrkris
# - Standby owner(s): @nabdelgadir
/packages/booter-lb3app @deepakrkris @nabdelgadir
/packages/cli/generators/import-lb3-models @deepakrkris @nabdelgadir
/examples/lb3-application @deepakrkris @nabdelgadir
/docs/site/migration @deepakrkris @nabdelgadir

#
# REST CRUD conventional API
#
# - Issue label: n/a
# - Primary owner(s): @nabdelgadir
# - Standby owner(s): n/a
/packages/model-api-builder @nabdelgadir
/packages/rest-crud @nabdelgadir
/examples/rest-crud @nabdelgadir

#
# Cloud Native tooling
#
# - Issue label: CloudNative
# - Primary owner(s): @jannyHou @raymondfeng
# - Standby owner(s): @emonddr
/extensions/metrics @emonddr @jannyHou @raymondfeng
/extensions/health @emonddr @jannyHou @raymondfeng
/extensions/logging @emonddr @jannyHou @raymondfeng
/examples/metrics-prometheus @emonddr @jannyHou @raymondfeng
/acceptance/extension-logging-fluentd @emonddr @jannyHou @raymondfeng

#
# Authentication
#
# - Issue label: Authentication
# - Primary owner(s): @hacksparrow
# - Standby owner(s): @emonddr @jannyHou
/packages/authentication @emonddr @hacksparrow @jannyHou
/packages/security @emonddr @hacksparrow @jannyHou
/extensions/authentication-passport @emonddr @hacksparrow @jannyHou
/docs/site/tutorials/authentication @emonddr @hacksparrow @jannyHou

#
# Authorization
#
# - Issue label: Authorization
# - Primary owner(s): @hacksparrow
# - Standby owner(s): @jannyHou
/packages/authorization @hacksparrow @jannyHou
/examples/access-control-migration @hacksparrow @jannyHou

#
# Build & internal tooling
#
# - Issue label: Internal Tooling
# - Primary owner(s): @emonddr
# - Standby owner(s): n/a
/packages/build @emonddr
/packages/eslint-config @emonddr
/packages/tsdocs @emonddr
/packages/cli/generators/update @emonddr

#
# Test helpers
#
# - Issue label: Testlab
# - Primary owner(s): @bajtos
# - Standby owner(s): @nabdelgadir
/packages/testlab @bajtos @nabdelgadir
/packages/http-caching-proxy @bajtos @nabdelgadir

#
# Benchmarks
#
# - Issue label: n/a
# - Primary owner(s): @bajtos
# - Standby owner(s): n/a
/benchmark @bajtos

#
# PostgreSQL
#
# - Issue label: db:PostgreSQL
# - Primary owner(s): @deepakrkris
# - Standby owner(s): @agnes512
# Includes the following repos: loopback-connector-postgresql
/acceptance/repository-postgresql @agnes512 @deepakrkris

#
# MySQL
#
# - Issue label: db:MySQL
# - Primary owner(s): @jannyHou
# - Standby owner(s): @agnes512
# Includes the following repos: loopback-connector-mysql
/acceptance/repository-mysql @agnes512 @jannyHou

#
# MongoDB
#
# - Issue label: db:MongoDB
# - Primary owner(s): n/a
# - Standby owner(s): @agnes512 @hacksparrow
# Includes the following repos: loopback-connector-mongodb
/acceptance/repository-mongodb @agnes512 @hacksparrow

#
# Cloudant & CouchDB2
#
# - Issue label: db:Cloudant
# - Primary owner(s): @jannyHou
# - Standby owner(s): @agnes512
# Includes the following repos
# - loopback-connector-cloudant
# - loopback-connector-couchdb2
# - (and other related/base connectors)
/acceptance/repository-cloudant @agnes512 @jannyHou

# Redis (KeyValue)
#
# - Issue label: n/a
# - Primary owner(s): n/a
# - Standby owner(s): n/a
# Includes the following repos
# - loopback-connector-kv-redis
# (there is no acceptance/repository-kv-redis yet)
