doctype html
html(lang="en")
  include ../partials/head
  body(style="padding-top: 70px; padding-bottom: 50px;")
    include ../partials/navigation
    include ../partials/banner
    include ../partials/footer
    block scripts
