<section class="code-doc ">
    <a name="<%-anchorId%>"></a>
    <h3 class="code-ref"><%-kindString%>: <%=name.toLowerCase()%> = new <%-name%>()</h3>
    <% include comments %>
</section>
<% include children %>
