<!--
  Used for displaying comments in Class, Interface, Properties Constructor,
  Function and Parameters of constructor or function.
  (Excludes Type alias).
-->
<%
  if (locals.comment) {%>
    <div class="code-desc">
        <p><%-comment.shortText%></p>
        <p><%-comment.text%></p>
    </div>
  <% if (comment.returns) { %>
        Returns: <p><%-comment.returns%></p>
  <%}
  }
%>



