<section class="code-doc ">
  <a name="<%-anchorId%>"></a>
  <%
  var title = tsHelpers.getVariableStr({name: name, kindString: kindString,
    flags: flags, defaultValue: locals.defaultValue || ''});
  %>
  <h3 class="code-ref"><%- title %></h3>
  <% include comments %>
</section>
