head
  //- Behavioral Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  //- SEO Meta Data
  title LoopBack API Server
  meta(name='author', content='')
  meta(name='description', content='')
  meta(name='keywords', content='')

  //- Styles
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  style.
    .navbar-brand {
      background-image: url(http://loopback.io/images/loopback.svg);
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: left center;
      padding-left: 45px;
      margin-top: -1px;
      margin-left: 15px;
      font-size: 22px;
      color: #07582B !important;
    }
    h2 {
      color: #07582B;
    }
