name: Continuous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 2 * * 1' # At 02:00 on Monday

permissions: {}

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:
  test:
    name: Test
    timeout-minutes: 20
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16, 18, 20.2]
        include:
          - os: windows-latest
            node-version: 18 # LTS
          - os: macos-latest
            node-version: 18 # LTS
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: node packages/build/bin/compile-package -b
      - name: Run package tests
        run: node packages/build/bin/run-nyc node packages/build/bin/run-mocha --lang en_US.UTF-8 --reporter spec "packages/*/dist/__tests__/**/*.js" "packages/build/test/**/*.js"
      - name: Run extension tests
        run: node packages/build/bin/run-nyc node packages/build/bin/run-mocha --lang en_US.UTF-8 --reporter spec "extensions/*/dist/__tests__/**/*.js"
      - name: Run example tests
        run: node packages/build/bin/run-nyc node packages/build/bin/run-mocha --lang en_US.UTF-8 --reporter spec "examples/*/dist/__tests__/**/*.js" --exclude "examples/webpack/**"
      - name: Generate coverage report
        run: node packages/build/bin/run-nyc report --reporter=lcov
      - name: Publish coverage report to Coveralls
        uses: coverallsapp/github-action@c7885c00cb7ec0b8f9f5ff3f53cddb980f7a4412 # v2.2.0
        with:
          flag-name: run-${{ matrix.os }}-node@${{ matrix.node-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: coverage/lcov.info
          parallel: true

  post-test:
    name: Post-Test
    needs: test
    runs-on: ubuntu-latest
    if: ${{ success() }}
    steps:
    - name: Coveralls finished
      uses: coverallsapp/github-action@c7885c00cb7ec0b8f9f5ff3f53cddb980f7a4412 # v2.2.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true

  test-benchmark:
    name: Test Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18 # LTS
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Build
        run: npx lerna run build --scope "@loopback/benchmark"
      - name: Run benchmark tests
        run: npx lerna run test --scope "@loopback/benchmark" -- --ignore-scripts -- --reporter spec

  code-lint:
    name: Code Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18 # LTS
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Build
        run: node packages/build/bin/compile-package -b
      - name: Verify code linting
        run: |
          node packages/build/bin/run-eslint .
          node packages/build/bin/run-prettier --check "**/*.ts" "**/*.js" "**/*.md" "!docs/**/*.md"
      - name: Verify package-lock files
        run: node packages/monorepo/lib/check-package-locks
      - name: Verify package metadata
        run: node bin/check-package-metadata.js

  commit-lint:
    name: Commit Lint
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18 # LTS
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Verify commit linting
        run: npx commitlint --from origin/master --to HEAD --verbose

  verify-docs:
    name: Verify Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18 # LTS
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Build
        run: node packages/build/bin/compile-package -b
      - name: Verify linting
        run: node packages/build/bin/run-prettier --check "docs/**/*.md"
      - name: Verify changes
        run: ./bin/verify-doc-changes.sh
