name: Renovate Config Validator

on:
  pull_request:
    paths:
      - './renovate.json'

permissions: {}

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22.21.1 # LTS
      - name: Validate Renovate config
        run: npx -p renovate --yes renovate-config-validator
