name: Renovate Config Validator

on:
  pull_request:
    paths:
      - './renovate.json'

permissions: {}

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.18.0 # LTS
      - name: Validate Renovate config
        run: npx -p renovate --yes renovate-config-validator
