name: Renovate Config Validator

on:
  pull_request:
    paths:
      - './renovate.json'

permissions: {}

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22.22.0 # LTS
      - name: Validate Renovate config
        run: npx -p renovate --yes renovate-config-validator
